* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  height: 100vh;
  width: 100%;
  transition: background .2s linear;
}

body.dark {
  background-color: #292c35;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  position: relative;
  height: 30px;
  width: 56px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.ball {
  position: absolute;
  background-color: #fff;
  height: 26px;
  width: 26px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform .2s linear;
}

#checkbox:checked + .label .ball {
  transform: translateX(26px);
}